<ion-content padding class="login-form" style=" background: url('assets/img/mainbg.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
" overflow-scroll="false">

<!-- <div class="overlay"></div> -->
    <div class="logo animated fadeInDown">
        <img src="assets/img/logo.png">
    </div>
    <form [formGroup]="myForm" >

        <ion-list>

            <!-- mobNo. field -->
            <ion-item style="    margin-bottom: 11px;
            " class="item1 animated fadeInDown">
                <ion-label floating [style.transform-origin]="language == 'en' ?'left':''">
                    <ion-icon [ngClass]="language == 'en' ?'iconEn':'iconAr'" name="ios-call"></ion-icon>
                  رقم التلفون
                </ion-label>
                <ion-input formControlName="phone" name="phone" [(ngModel)]="phone" type="text" required></ion-input>
            </ion-item>

<!-- 
            <p class="validationHint" *ngIf="hasError('email', 'required')">هذا الحقل مطللوب إدخالة  </p>

            <p class="validationHint" *ngIf="hasError('email', 'email')">ادخل الايميل بشكل صحيح</p> -->
            <!-- <p class="validationHint" *ngIf="hasError('phone', 'pattern')">أدخل رقم موبايل صحيح</p> -->
            <p class="validationHint" *ngIf="hasError('phone', 'minlength')">هذا الحقل يجب ألا يقل عن 11 رقم</p>

            <!-- password field -->
            <ion-item class="item2 animated fadeInDown">
                <ion-label floating [style.transform-origin]="language === 'en' ?'left':''">
                    <ion-icon [ngClass]="language === 'en' ?'iconEn':'iconAr'" name="ios-lock-outline"></ion-icon>
                    كلمة المرور
                </ion-label>
                <ion-input formControlName="password" name="password" [(ngModel)]="password" type="password" required></ion-input>
            </ion-item>
        </ion-list>


          <!-- form Btns -->
        <!--[disabled]="!myForm.valid || !myForm.controls.password.valid"-->
        <button ion-button block type="button" (click)="login()"  [disabled]="!myForm.valid" class="animated fadeInDown app-btn"> تسجيل الدخول</button>




        <ion-item class="checkbox fadeInDown border-bottom">
        <ion-row style="width: 100%">


            <ion-col>

                
                    
                <input class="checkbox-custom myinput"  type="checkbox">
                   
                    <p class="remeber">تذكر لى </p>
                    
                </ion-col>
                <ion-col>
                    <p  class="remeber">
                        نسيت كلمة المرور ؟
                    </p>
                </ion-col>
            </ion-row>
        </ion-item>
      


        <ion-item class="fadeInDown" >
                <ion-row style="width: 100%">
        
        
                    <ion-col>
        
                        
                            
                            
                            <p class="remeber"> ليس لديك حساب؟
                                 </p>
                            
                        </ion-col>
                        <ion-col>
                            <p  (click)="openPage('Signup')" class="remeber">
                                انشىء حساب جديد   ؟
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-item>
      
                

    </form>

   
</ion-content>