<ion-content padding class="login-form" overflow-scroll="false">

    <div class="logo animated fadeInDown">
        <img src="assets/img/logo.png">
    </div>
    <form [formGroup]="myForm" (ngSubmit)="login()">

        <ion-list>

            <!-- mobNo. field -->
            <ion-item class="item1 animated fadeInDown">
                <ion-label floating [style.transform-origin]="language == 'en' ?'left':''">
                    <ion-icon [ngClass]="language == 'en' ?'iconEn':'iconAr'" name="ios-person"></ion-icon>
                    {{ 'phoneOrEmail' | translate }}
                </ion-label>
                <ion-input formControlName="email" name="email" [(ngModel)]="email" type="text" required></ion-input>
            </ion-item>


            <p class="validationHint" *ngIf="hasError('email', 'required')">this field required  </p>

            <p class="validationHint" *ngIf="hasError('email', 'email')">enter valid email</p>

            <!-- <p class="validationHint" *ngIf="hasError('username', 'pattern')">أدخل رقم موبايل صحيح</p>
            <p class="validationHint" *ngIf="hasError('username', 'minlength')">هذا الحقل يجب ألا يقل عن 11 رقم</p> -->

            <!-- password field -->
            <ion-item class="item2 animated fadeInDown">
                <ion-label floating [style.transform-origin]="language === 'en' ?'left':''">
                    <ion-icon [ngClass]="language === 'en' ?'iconEn':'iconAr'" name="ios-lock-outline"></ion-icon>
                    {{ 'Password' | translate }}
                </ion-label>
                <ion-input formControlName="password" name="password" [(ngModel)]="password" type="password" required></ion-input>
            </ion-item>
        </ion-list>

        <!-- form Btns -->
        <!--[disabled]="!myForm.valid || !myForm.controls.password.valid"-->
        <button ion-button block type="submit" [disabled]="!myForm.valid || !myForm.controls.password.valid" class="animated fadeInDown">{{ 'Login' | translate }}</button>
    </form>

    <!-- <p class="noMatchUserOrPass animated fadeInDown" *ngIf="!isCorrect">من فضلك أدخل أسم المستخدم او كلمة السر الصحيحة</p> -->


    <div class="reg-forgetBtns">
        <button ion-button clear type="button" (click)="openPage('Forgetpassword')" class="animated fadeInDown forgetpassBtn">{{ 'ForgetPassword' | translate }}</button>
        <!-- <p class="noRegister animated fadeInDown">
            <button ion-button clear (click)="openPage('Signup')">{{ 'register' | translate }}</button>
        </p> -->
    </div>
</ion-content>